@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overscroll-behavior: none;
  overflow-x: hidden;
}

.fade-bottom-blog {
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 94%,
      rgba(0, 0, 0, 0) 0
    )
    100% 50% / 100% 100% repeat-x;

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

input[type='range'].react-player-range {
  @apply w-full max-w-none appearance-none border-0 bg-transparent active:cursor-ew-resize;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type='range'].react-player-range::-webkit-slider-runnable-track {
  @apply h-[1.5em] w-full cursor-ew-resize rounded-lg bg-[linear-gradient(90deg,_rgba(255,255,255,1)_0%,_rgba(255,255,255,1)_var(--progress),transparent_var(--progress))];
}

/******** Firefox ********/
input[type='range'].react-player-range::-moz-range-track {
  @apply h-[1.5em] w-full bg-[linear-gradient(90deg,_rgba(255,255,255,1)_0%,_rgba(255,255,255,1)_var(--progress),transparent_var(--progress))];
}
/* Center thumb formulae */
/* margin-top = (track height in pixels / 2) - (thumb height in pixels /2) */
input[type='range'].react-player-range::-webkit-slider-thumb {
  @apply mt-0 size-[1.5em] appearance-none bg-transparent;
}

input[type='range'].react-player-range::-moz-range-thumb {
  @apply mt-0 size-[1.5em] appearance-none bg-transparent;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radial-layout {
  background-image: radial-gradient(at 94% 88%, #0f0a19 0px, transparent 50%),
    radial-gradient(at 27% 73%, #0f0a19 0px, transparent 50%),
    radial-gradient(at 38% 19%, #0f0a19 0px, transparent 50%),
    radial-gradient(at 65% 23%, #8b61e5 0px, transparent 50%),
    radial-gradient(at 7% 90%, #8b61e5 0px, transparent 50%);

  background-image:
    -webkit-radial-gradient(at 94% 88%, #0f0a19 0px, transparent 50%),
    -webkit-radial-gradient(at 27% 73%, #0f0a19 0px, transparent 50%),
    -webkit-radial-gradient(at 38% 19%, #0f0a19 0px, transparent 50%),
    -webkit-radial-gradient(at 65% 23%, #8b61e5 0px, transparent 50%),
    -webkit-radial-gradient(at 7% 90%, #8b61e5 0px, transparent 50%);

  background-image:
    -moz-radial-gradient(at 94% 88%, #0f0a19 0px, transparent 50%),
    -moz-radial-gradient(at 27% 73%, #0f0a19 0px, transparent 50%),
    -moz-radial-gradient(at 38% 19%, #0f0a19 0px, transparent 50%),
    -moz-radial-gradient(at 65% 23%, #8b61e5 0px, transparent 50%),
    -moz-radial-gradient(at 7% 90%, #8b61e5 0px, transparent 50%);

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
